.container {
    width: fit-content;
    max-width: 90%;
    margin: 100px auto;
}

.credit {
    max-width: 500px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
}

.main-info {
    margin-bottom: 50px;
}

.main-info .title,
.payment .title {
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
}

.main-info .kode-transaksi {
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: 0.1em;
}

.payment .subtitle,
.payment .payment-info {
    line-height: 28px;
    letter-spacing: 0.1em;
    font-size: 24px;
    margin-bottom: 10px;
}

.payment {
    margin-bottom: 50px;
}

.btn {
    transition: 300ms all ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.btn.btn-direct {
    padding: 10px 30px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 20px;
    background-color: rgba(201, 162, 126, 0.2);
}

.btn.btn-direct:hover {
    background-color: rgba(201, 162, 126, 0.5);
}
