.container {
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.search {
    display: none;
}

.navbar {
    grid-template-columns: repeat(2, 1fr);
}


.barang {
    margin-top: 20px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content(1fr);
    justify-items: center;
}


.card {
    width: 100%;
    height: 100%;
    transition: all 0.1s ease-out;
    box-sizing: border-box;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid #1f1f1f
}

.card:hover {
    transform: scale(1.05);
    border: 3px solid black;
}

.card img {
    height: auto;
    width: 100%;
}

.card .category {
    font-size: 12px;
}

.card .title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

@media(max-width:500px) {
    .container {
        width: auto;
        margin: 20px 20px;
    }

    .card {
        width: fit-content;
        height: 100%;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .barang {
        grid-template-columns: repeat(2, 1fr);
    }

    .card .title {
        font-size: 16px;
    }

    .container {
        gap: 20px;
    }
}
