.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.card {
    padding: 30px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 100ms all ease-out;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.1) translateY(30px);
    border: 3px solid black;
}

.card img {
    width: 100%;
}

.card h1 {
    margin-top: 10px;
    text-align: center;
}

@media(max-width:500px){
    .card {
        width: fit-content;
    }

    .card img {
        width: 100%;
        height: auto;
    }
    .barang {
        grid-template-columns: repeat(2, 1fr);
    }

    .card h1 {
        font-size: 24px;
    }
    .container {
        gap: 20px;
    }
}