.main-content .livewireuhuy {
    /*     background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form textarea {
    width: 300px;
    height: 100px;
    padding: 10px 15px;
    box-sizing: border-box;
    resize: none;
    background-color: #f1f1f1;
    border: none;
}

.form select {
    width: 300px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
}

.form button {
    cursor: pointer;
    padding: 10px 15px;
    width: 300px;
    background-color: #1f1f1f;
    color: #f1f1f1;
    border: none;
    transition: all ease-in-out 0.2s;
}

.form button:hover {
    background-color: #6cff9f;
    color: #1f1f1f;
}

.title {
    font-weight: bold;
    font-size: 22px;
}

.pengumuman {
    width: 300px;
}

.pengumuman p {
    margin: 10px 0;
}

.sukses {
    padding: 5px 10px;
    width: fit-content;
    background-color: greenyellow;
}

.gagal {
    width: fit-content;
    padding: 5px 10px;
    background-color: rgb(255, 99, 99);
}

.iklan {
    width: 500px;
    /* background-color: red; */
}

.iklan div.gambariklan {
    width: 500px;
    height: 250px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pengumuman button,
.iklan button {
    cursor: pointer;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #1f1f1f;
}

.pengumuman button:hover,
.iklan button:hover {
    transition: all ease-in-out 0.2s;
    background-color: #6cff9f;
    color: #1f1f1f;
    transform: translateX(10px);
}

@media(max-width:500px) {
    .iklan {
        width: 300px;
    }

    .iklan div.gambariklan {
        width: 300px;
        height: 150px;
    }
}
